.env

# Directories.
# e.g Training or Test datasets
data/
dataset/
datasets/
train_data/
test_data/
outputs/
samples/
reconstruction/

# Checkpoints
checkpoints/
checkpoints_*/

# Cache
__pycache__/

# All zip files
*.zip