.env

# Directories.
# e.g Training or Test datasets
data/
dataset/
datasets/
train_data/
test_data/
outputs/
samples/
reconstruction/

# Checkpoints
checkpoints/

# Cache
_pycache_/

# All zip files
*.zip